/ content
%section#content
  .container_16
    .clearfix
      %section#mainContent.grid_10
        %article
          %h2 Rent a Living
          %h3 Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac.
          %p Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna. Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer adipiscing elit.
          %a.button{:href => "#"} Read More
        %article.last
          %h2 Property Management
          %hgroup
            %h5 Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
            %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent
          .wrapper.p2
            %ul.list1.grid_3.alpha
              %li
                %a{:href => "#"} Fsce suscipit varius
              %li
                %a{:href => "#"} Cum sociis
              %li
                %a{:href => "#"} Natoque penatibus
              %li
                %a{:href => "#"} Magnis dis parturi
            %ul.list1.grid_3
              %li
                %a{:href => "#"} Aenean nec eros
              %li
                %a{:href => "#"} Vestibulum ante
              %li
                %a{:href => "#"} Ips primis in ucibus
              %li
                %a{:href => "#"} Ultrices posuere
            %ul.list1.grid_3.omega
              %li
                %a{:href => "#"} Cum sociis
              %li
                %a{:href => "#"} Natoque penatibus
              %li
                %a{:href => "#"} Magnis dis parturi
              %li
                %a{:href => "#"} Ent montes nascetur
          %p Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo. Ut pharetra augue nec augue.
          %p Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia.
          %a.button{:href => "#"} Read More
      %aside.grid_6
        .prefix_1
          %article
            / .box
            .box
              %h2 Special Offers
              .wrapper
                %figure.alt
                  =image_tag "4page-img1.jpg"
              %h3.p2
                %a{:href => "#"} Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis.
              %a.button{:href => "#"} Read More
            / /.box
          %article.last
            %h2 We Guarantee
            %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent.
            %p Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto beatae vitae dicta sunt.
            %p Nemo enim ipsam voluptatem quia voluptas sit aspernatur aut odit aut fugit, sed quia consequuntur magni dolores eos qui ratione voluptatem sequi nesciunt. Neque porro quisquam est, qui dolorem.
            %a.button{:href => "#"} Read More