/ content
%section#content
  .container_16
    .clearfix
      %section#mainContent.grid_10
        %article
          %h2 About Buying
          %h3 Ut tellus dolor, dapibus eget, elementum vel, cursus eleifend, elit. Aenean auctor wisi et urna. Aliquam erat volutpat. Duis ac turpis. Integer rutrum ante eu lacus. Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet.
          %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent
          .wrapper.p2
            %ul.list1.grid_3.alpha
              %li
                %a{:href => "#"} Fsce suscipit varius
              %li
                %a{:href => "#"} Cum sociis
              %li
                %a{:href => "#"} Natoque penatibus
              %li
                %a{:href => "#"} Magnis dis parturi
            %ul.list1.grid_3
              %li
                %a{:href => "#"} Aenean nec eros
              %li
                %a{:href => "#"} Vestibulum ante
              %li
                %a{:href => "#"} Ips primis in ucibus
              %li
                %a{:href => "#"} Ultrices posuere
            %ul.list1.grid_3.omega
              %li
                %a{:href => "#"} Cum sociis
              %li
                %a{:href => "#"} Natoque penatibus
              %li
                %a{:href => "#"} Magnis dis parturi
              %li
                %a{:href => "#"} Ent montes nascetur
          %a.button{:href => "#"} Read More
        %article.last
          %h2 Buying Guide
          %h5 Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feuat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
          %ul.img-list.clearfix
            %li
              %a{:href => "#"}
                =image_tag "3page-img1.jpg"
            %li
              %a{:href => "#"}
                =image_tag "3page-img2.jpg"
            %li
              %a{:href => "#"}
                =image_tag "3page-img3.jpg"
            %li
              %a{:href => "#"}
                =image_tag "3page-img4.jpg"
            %li
              %a{:href => "#"}
                =image_tag "3page-img5.jpg"
          %p Et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui. Fusce feuat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem.
          %a.button{:href => "#"} Read More
      %aside.grid_6
        .prefix_1
          %article
            %h2 Market Research
            .wrapper
              %figure.alt
                =image_tag "3page-img6.jpg"
              %figure.last
                =image_tag "3page-img7.jpg"
            %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent.
            %p Omnis iste natus error sit voluptatem accusantium dolormque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore veritatis et quasi architecto.
            %a.button{:href => "#"} Read More
          %article.last
            / .box
            .box
              %h2 Best Proposals
              %h3
                %a{:href => "#"} Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper.
              %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.
              %a.button{:href => "#"} Read More
            / /.box