/ content
%section#content
  .container_16
    .clearfix
      %section#mainContent.grid_10
        %article
          %h2 Primary Contacts
          .wrapper
            %figure
              =image_tag "7page-img1.jpg"
            %dl.address
              %dt
                8901 Marmora Road,
                %br/
                Glasgow, D04 89GR.
              %dd
                %span> Freephone:
                +1 800 559 6580
              %dd
                %span> Telephone:
                +1 959 603 6035
              %dd
                E-mail:
                %a{:href => "#"} mail@demolink.org
            %dl.address.last
              %dt
                9863 - 9867 Mill Road,
                %br/
                Cambridge, MG09 99HT.
              %dd
                %span> Freephone:
                +1 800 559 6580
              %dd
                %span> Telephone:
                +1 959 603 6035
              %dd
                E-mail:
                %a{:href => "#"} mail@demolink.org
            %a.button{:href => "#"} Read More
        %article.last
          %h2 Useful Links
          %hgroup
            %h5 Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis.
            %h4 Nulla dsce feat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent  vestibulum molestie lacus.
          %p Pellentesque sed dolor. Aliquam congue fermentum nisl. Mauris acmsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi aliuet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
          .wrapper.p2
            %ul.list1.grid_3.alpha
              %li
                %a{:href => "#"} Praesent vestibulum
              %li
                %a{:href => "#"} Aenean nonummy hen
              %li
                %a{:href => "#"} Phasellus porta
              %li
                %a{:href => "#"} Fusce suscipit varius mi
              %li
                %a{:href => "#"} Cum sociis natoque pen
              %li
                %a{:href => "#"} Bus et magnis dis partur
              %li
                %a{:href => "#"} Nascetur ridiculus mus
            %ul.list1.grid_3
              %li
                %a{:href => "#"} Aenean nonummy hen
              %li
                %a{:href => "#"} Phasellus porta
              %li
                %a{:href => "#"} Fusce suscipit varius mi
              %li
                %a{:href => "#"} Cum sociis natoque peti
              %li
                %a{:href => "#"} Bus et magnis dis partur
              %li
                %a{:href => "#"} Nascetur ridiculus mus
              %li
                %a{:href => "#"} Nulla dui. Fusce feugiat
            %ul.list1.grid_3.omega
              %li
                %a{:href => "#"} Praesent vestibulum
              %li
                %a{:href => "#"} Aenean nonummy hen
              %li
                %a{:href => "#"} Phasellus porta
              %li
                %a{:href => "#"} Fusce suscipit varius mi
              %li
                %a{:href => "#"} Cum sociis nque penati
              %li
                %a{:href => "#"} Bus et magnis dis partur
              %li
                %a{:href => "#"} Nascetur ridiculus mus
          %a.button{:href => "#"} Read More
      %aside.grid_6
        .prefix_1
          %article
            / .box
            .box
              %h2 How To Find Us
              %h3
                %a{:href => "#"} Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper.
              %p Praesent vestibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis natoque penatibus et magnis dis parturient montes, nascetur ridiculus mus. Nulla dui.
              %a.button{:href => "#"} Read More
            / /.box
          %article.last
            %h2 Formulario de Contacto
            = form_for @contacto, url: {action: "create_contacto"}, html: {id:"contacts-form"} do |f|
              %fieldset
                -if @contacto.errors.present?
                  #error
                    =@contacto.errors.first[1]
                %label
                  %span Name:
                  =f.text_field :name
                %label
                  %span E-mail:
                  =f.email_field :mail
                .wrapper
                  %span Message:
                  =f.text_area :message
                .wrapper
                  %a.button{:href => "#", :onClick => "document.getElementById('contacts-form').submit()"} Submit
                  %a.button{:href => "#", :onClick => "document.getElementById('contacts-form').submit()"} Reset