/ content
%section#content
  .container_16
    .clearfix
      %section#mainContent.grid_10
        %article
          %h2 About Financing
          .wrapper
            %figure
              =image_tag "6page-img1.jpg"
            %h3 Lorem ipsum dolor sit amet consectetuer adipiscing elit Praesent vestibulum moles tie lacuseneane nonummy.
            %p Portsce suscipit va sociis natoque penatibus et magnis dis parturienetontes nascetur ridiculus musulla dutusce feugiat malesuada odorbi nunc odio gravida at cursus nec luctus alorem.
            %a.button{:href => "#"} Read More
        %article.last
          %h2 Financing Center
          .img-box
            %figure
              =image_tag "6page-img2.jpg"
            %hgroup
              %h5 Praesent vtibulum molestie lacus. Aenean nonummy hendrerit mauris. Phasellus porta. Fusce suscipit.
              %h4 Nulla dsce feat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer.
            Pellentesque sed dolor. Aliquam congue fermentum nisl.  Mauris acmsan nulla vel diam. Sed in lacus ut enim adipiscing aliquet. Nulla venenatis. In pede mi aliuet sit amet, euismod in, auctor ut, ligula. Aliquam dapibus tincidunt metus.
          %p Vestibulum libero nisl, porta vel, scelerisque eget, malesuada at, neque. Vivamus eget nibh. Etiam cursus leo vel metus. Nulla facilisi. Aenean nec eros. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Suspendisse sollicitudin velit sed leo.
          %p Ut pharetra augue nec augue. Nam elit magna, hendrerit sit amet, tincidunt ac, viverra sed, nulla. Donec porta diam eu massa. Quisque diam lorem, interdum vitae, dapibus ac, scelerisque vitae, pede. Donec eget tellus non erat lacinia fermentum. Donec in velit vel ipsum auctor pulvinar. Proin ullamcorper urna et felis. Vestibulum iaculis lacinia est. Proin dictum elementum velit.
          %a.button{:href => "#"} Read More
      %aside.grid_6
        .prefix_1
          %article
            / .box
            .box
              %h2 Mortgage Rates
              %dl.accordion
                %dt
                  =image_tag "icon2.gif"
                  %a{:href => "#"} Vestibulum sed ante
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon3.gif"
                  %a{:href => "#"} Donec in velit vel ipsum
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon4.gif"
                  %a{:href => "#"} Integer rutrum ante eu
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
                %dt
                  =image_tag "icon5.gif"
                  %a{:href => "#"} Fusce euismod consequat
                %dd Orta augueimperdiet massa uslerisec felise lecm id lorem ipsum.
            / /.box
          %article.last
            %h2 Did You Know
            %h4 Nulla dsce feugiat malesuada odiobi nunc odio gravida at cursus nec luctusa loremaece nas trism dolor sit aconsecteetuer adipiscinges elitraesent.
            %p Praesent vestibulum molestie lacus. Aenean non hndrerit mauris. Phasellus porta. Fusce suscipit varius mi. Cum sociis nato penatibus et magnis dis parturient montes, nascetur ridiculus mus.
            %p Nulla dui. Fusce feugiat malesuada odio. Morbi nunc odio, gravida at, cursus nec, luctus a, lorem. Maecenas tristique orci ac sem. Duis ultricies pharetra magna.
            %p Donec accumsan malesuada orci. Donec sit amet eros. Lorem ipsum dolor sit amet, consectetuer.
            %a.button{:href => "#"} Read More